<%- contentFor('style') %>

<%- contentFor('body') %>
    <h1 class="text-center"><%= pageTitle %></h1>
    <p class="text-center">Welcome to the home page of our application.</p>
    <p>You are logged in as: <strong><%= user.name %></strong></p>
    