<%- contentFor('style') %>
    <style>
        body {
            background-color: #f8f9fa;
        }
    </style>

<%- contentFor('body') %>
    <h1 class="text-center"><%= pageTitle %></h1>
    <p class="text-center">Welcome to the test page of our application.</p>